// ANIMATIONS
@keyframes panel-slide-down {

    0%,
    30% {
        margin-top: -20px;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes panel-slide-up {

    0%,
    30% {
        margin-bottom: -30px;
        opacity: 0;
    }

    to {
        margin-bottom: 0;
        opacity: 1;
    }
}

@keyframes panel-slide-right {

    0%,
    30% {
        margin-top: -30px;
        margin-right: -25px;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes panel-slide-left {

    0%,
    30% {
        margin-left: -60px;
        opacity: 0;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}