a {
  @include transition(0.6s);
  @include font-height(14, 18);
  text-decoration: none;
  color: $brand-dark-green;

  &:hover,
  &:focus {
    color: $brand-green;
    text-decoration: none;
  }

  &:focus {
    .no-touch & {
      outline: none;
    }
  }
}

a:link,
button {
  -webkit-tap-highlight-color: rgba($brand-green, 0.35);
  -moz-tap-highlight-color: rgba($brand-green, 0.35);
}

button {
  outline: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: auto;
  min-height: 3.375rem;
  height: auto;
  color: inherit;
  cursor: pointer;
  text-align: center;
  @include transition(0.6s);

  &:focus,
  &:visited {
    outline: none;
    border: none;
    box-shadow: unset;
  }
}

button[disabled] {
  cursor: not-allowed;
  user-select: none;
  pointer-events: none;
}

.btn {
  @include transition(0.6s);
  @include font-height(14, 19);
  border-radius: 0.25rem;
  padding: 20px 40px;
  letter-spacing: 0.05em;
  font-weight: 600 !important;
  background-color: transparent;
  color: $brand-white;
  border: none;
  cursor: pointer;
  position: relative;
  @include flex_row_center_nowrap;
  text-align: center;
  max-width: 100%;
  box-shadow: 0px 0px 0px transparent;
  text-decoration: none !important;

  @include breakpoint-down(lg) {
    @include font-height(13, 18);
  }

  @include breakpoint-down(sm) {
    @include font-height(12.5, 17);
  }

  &:hover,
  &:focus {
    text-decoration: none !important;
    outline: none;
    border: none;
    box-shadow: unset;

    .no-touch & {
      outline: none;
      border: none;
      box-shadow: unset;
    }
  }
}

.btn-md {
  min-height: 2.875rem;
  @include font-height(13, 14);
  padding: 18px 34px;
}


.btn-primary {
  background-color: $brand-green !important;
  color: $brand-white !important;
  padding: 20.5px 40px;

  &:hover,
  &:focus {
    background-color: $brand-dark-green !important;
  }

  &:disabled {
    background-color: #6ec799 !important;
  }
}

.btn-secondary {
  background-color: $brand-cloudy-green !important;
  color: $brand-accent-green !important;

  &:hover,
  &:focus {
    background-color: $brand-off-green !important;
  }

  &:disabled {
    background-color: #f3fff9 !important;
    color: #90caad !important;
  }
}

.btn-red {
  background-color: $brand-red !important;
  color: $brand-white !important;

  &:hover,
  &:focus {
    background-color: $deep-red !important;
  }

  &:disabled {
    background-color: #f3fff9 !important;
    color: #90caad !important;
  }
}

.btn-cloudy {
  background-color: $brand-cloudy-green !important;
  color: $brand-dark-green !important;

  &:hover,
  &:focus {
    background-color: $brand-dark-green !important;
    color: $brand-cloudy-green !important;
  }

  &:disabled {
    background-color: #f3fff9 !important;
    color: #90caad !important;
  }
}

.btn-outline {
  border: 1px solid $brand-dark-blue !important;
  color: $brand-dark-blue !important;

  &:hover,
  &:focus {
    border: 1px solid #013e53 !important;
    color: #013e53 !important;
  }

  &:disabled {
    border: 1px solid #a5c9d6 !important;
    color: #a5c9d6 !important;
  }
}